body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.fa-stop {
  color: red;
}
.fa-play {
  color: #18bc9c;
}

/* 
  hover actions should not occur on touch devices
  in order to prevent having to double click on mobile 
  to click buttons or start/stop a task 
*/
@media (pointer: fine) {
  #task-list .row-task:hover {
    background-color: #eee;
  }

  .btn-edit:hover:enabled {
    color: blue;
  }

  .btn-delete:hover:enabled {
    color: red;
  }
}
